<!-- slider -->
        <div class="slider">
            <div class="owl-carousel owl-one owl-theme">
                <!-- item -->
                <div class="item">
                    <div class="slider-img">
                        <img src="assets/images/hoteles-slider/El-Castillo-13.jpg" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">Hoteles al mejor precio</h1>
                                    <a routerLink="listado" class="btn btn-primary">Ver lista de hoteles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.item -->
                <!-- item -->
                <div class="item">
                    <div class="slider-img"><img src="assets/images/hoteles-slider/mast-2.jpg" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">Hoteles al mejor precio</h1>
                                    <a routerLink="listado" class="btn btn-primary">Ver lista de hoteles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.item -->
                <!-- item -->
                <div class="item">
                    <div class="slider-img"><img src="assets/images/hoteles-slider/San-Lazaro.jpg" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">Hoteles al mejor precio</h1>
                                    <a routerLink="listado" class="btn btn-primary">Ver lista de hoteles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.item -->
            </div>
        </div>
        <!-- /.slider -->
        <!-- enguiry-form -->
        <div class="bg-default enquiry-form ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <!-- form -->
                        <form>
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-3 col-12">
                                    <div class="form-group">
                                        <label class="control-label sr-only" for="select"></label>
                                        <div class="select">
                                            <select id="select" name="city" class="form-control">
                                                <option value="">Where you want to go</option>
                                                <option value="">Singapore</option>
                                                <option value="">Thailand</option>
                                                <option value="">Vietnam</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-3 col-12">
                                    <div class="form-group">
                                        <label class="control-label sr-only" for="datepicker"></label>
                                        <div class="input-group">
                                            <input id="datepicker" name="datepicker" type="text" placeholder="Date" class="form-control" required>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-3 col-12">
                                    <div class="form-group">
                                        <label class="control-label sr-only" for="select"></label>
                                        <div class="select">
                                            <select id="select" name="select" class="form-control">
                                                <option value="">Number of Peoples</option>
                                                <option value="">6</option>
                                                <option value="">10</option>
                                                <option value="">25</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-12 col-md-6 col-sm-3 col-12">
                                    <button type="submit" name="singlebutton" class="btn btn-primary btn-lg">Enquiry Now</button>
                                </div>
                            </div>
                        </form>
                        <!-- /.form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.enguiry-form -->

        <!-- destination-section -->
        <div class="space-medium">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <!-- section-title -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="section-title">
                            <h2>Mejores Hoteles</h2>
                        </div>
                    </div>
                    
                    <div class="card-deck" style="padding-bottom:25px; padding-top:25px;">
                        <div class="card">
                            <img src="assets/images/hoteles/intercontinental.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <a routerLink="detalles">Intercontinental Hotel</a>
                        </div>
                        </div>
        
                    <div class="card">
                            <img src="assets/images/hoteles/nh-hotel.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <a routerLink="detalles">Nh Hotel</a>
                        </div>
                    </div>
        
                            <div class="card">
                                <img src="assets/images/hoteles/roosevelt.jpg" alt="" class="card-img-top">
                                <div class="card-body">
                               <a routerLink="detalles">Roosevelt Plaza Hotel</a>
            </div>
        </div>
    </div>
                    <!-- /.section-title -->
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 nopl nopr">
                        <!-- destination-section -->
                        <div class="destination-block">
                            <div class="desti-img">
                                <img src="./images/destination_1.jpg" alt="">
                                <a href="#" class="desti-title">Singapore</a>
                                <div class="overlay">
                                </div>
                                <div class="text">
                                    <h3 class="mb20 text-white">Singapore</h3>
                                    <ul class="angle list-none">
                                        <li>4 Nights / 3 days</li>
                                        <li>3 Star hotel</li>
                                        <li>Breakfast and Dinner</li>
                                    </ul>
                                    <p class="price">$1599</p>
                                    <a href="#" class="btn-link">Go for Singapore <i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </div>
                        <!-- /.destination-section -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 nopl nopr">
                        <!-- destination-section -->
                        <div class="destination-block">
                            <div class="desti-img">
                                <img src="./images/destination_2.jpg" alt="">
                                <a href="#" class="desti-title">Thailand</a>
                                <div class="overlay">
                                </div>
                                <div class="text">
                                    <h3 class="mb20 text-white">Thailand</h3>
                                    <ul class="angle list-none">
                                        <li>5 Nights / 4 days</li>
                                        <li>3 Star hotel</li>
                                        <li>Breakfast and Dinner</li>
                                    </ul>
                                    <p class="price">$2599</p>
                                    <a href="#" class="btn-link">Go for Thailand <i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </div>
                        <!-- /.destination-section -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 nopr nopl">
                        <!-- destination-section -->
                        <div class="destination-block">
                            <div class="desti-img">
                                <img src="./images/destination_3.jpg" alt="">
                                <a href="#" class="desti-title">Vietnam</a>
                                <div class="overlay">
                                </div>
                                <div class="text">
                                    <h3 class="mb20 text-white">Vietnam</h3>
                                    <ul class="angle list-none">
                                        <li>6 Nights / 5 days</li>
                                        <li>3 Star hotel</li>
                                        <li>Breakfast and Dinner</li>
                                    </ul>
                                    <p class="price">$4599</p>
                                    <a href="#" class="btn-link">Go for Vietnam <i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </div>
                        <!-- /.destination-section -->
                    </div>
                    <!-- destination-section -->
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 nopr nopl">
                        <div class="destination-block">
                            <div class="desti-img">
                                <img src="./images/destination_4.jpg" alt="">
                                <a href="#" class="desti-title">Melbourne</a>
                                <div class="overlay">
                                </div>
                                <div class="text">
                                    <h3 class="mb20 text-white">Melbourne</h3>
                                   
                                        <ul class="angle list-none">
                                        <li>4 Nights / 3 days</li>
                                        <li>3 Star hotel</li>
                                        <li>Breakfast and Dinner</li>
                                    </ul>
                                    <p class="price">$2599</p>
                                    <a href="#" class="btn-link">Go for Melbourne <i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.destination-section -->
                </div>
            </div>
        </div>
        <!-- /.destination-section -->
        <!-- about-section -->
        <div class="space-medium">
            <div class="container">
                <!-- about-head -->
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 mb60">
                        <div class="">
                            <h2>We are <br> Travel Agency</h2>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 offset-md-1 col-md-8 col-sm-12 col-12 mb60">
                        <div class="">
                            <p class="lead">Pellentesque luctus felis non nibh masus consectetuis sed nisl eniull lentesque euismod eronon ntesque tortor molestie egurabitur lorem ien elementumelitac eleifue nisl fringilla nisia tris.</p>
                        </div>
                    </div>
                </div>
                <!-- /.about-head -->
                <div class="row">
                    <!-- feature-section -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="well-block">
                            <!-- feature-left -->
                            <div class="feature-left">
                                <div class="feature-icon"><img src="./images/calendar.png" alt=""></div>
                                <div class="feature-content">
                                    <h4>Everything’s on Schedule</h4>
                                    <p>Cras porttitor tortor erateget accumsan is feltumsit.</p>
                                </div>
                            </div>
                            <!-- /.feature-left -->
                            <!-- feature-left -->
                            <div class="feature-left">
                                <div class="feature-icon"><img src="./images/adventure.png" alt=""></div>
                                <div class="feature-content">
                                    <h4>Destination Variety</h4>
                                    <p>Pellentesque imperdiet esmpus finibusse euismunc.</p>
                                </div>
                            </div>
                            <!-- /.feature-left -->
                            <!-- feature-left -->
                            <div class="feature-left">
                                <div class="feature-icon"><img src="./images/hotel.png" alt=""></div>
                                <div class="feature-content">
                                    <h4>Comfortable Housing</h4>
                                    <p>Vestiulum sodales tempudin one erlctus iedate. </p>
                                </div>
                            </div>
                            <!-- /.feature-left -->
                        </div>
                    </div>
                    <!-- /.feature-section -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="well-block">
                            <div class="counter-block">
                                <h1 class="counter-numbers">689+</h1>
                                <div class="counter-content">
                                    <h4>Tours</h4>
                                    <p>Cras porttitor tortor erateget taccumsan.</p>
                                </div>
                            </div>
                            <div class="counter-block">
                                <h1 class="counter-numbers">320+</h1>
                                <div class="counter-content">
                                    <h4>Destinations</h4>
                                    <p>Pellentesque luctus felisnon nib its consecteuis.</p>
                                </div>
                            </div>
                            <div class="counter-block">
                                <h1 class="counter-numbers">60+</h1>
                                <div class="counter-content">
                                    <h4>Countries</h4>
                                    <p>Sed gravida eleequenec fringilla dolonteger.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.client-section -->
        <div class="space-small">
            <div class="container">
                <div class="row">
                    <!-- client-logo -->
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                        <div class="client-logo">
                            <a href="#"><img src="./images/dummy_logo_1.png" alt=""></a>
                        </div>
                    </div>
                    <!-- /.client-logo -->
                    <!-- client-logo -->
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                        <div class="client-logo">
                            <a href="#"> <img src="./images/dummy_logo_2.png" alt=""></a>
                        </div>
                    </div>
                    <!-- /.client-logo -->
                    <!-- client-logo -->
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                        <div class="client-logo">
                            <a href="#">  <img src="./images/dummy_logo_3.png" alt=""></a>
                        </div>
                    </div>
                    <!-- /.client-logo -->
                    <!-- client-logo -->
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                        <div class="client-logo">
                            <a href="#"><img src="./images/dummy_logo_4.png" alt=""></a>
                        </div>
                    </div>
                    <!-- /.client-logo -->
                    <!-- client-logo -->
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                        <div class="client-logo">
                            <a href="#"> <img src="./images/dummy_logo_2.png" alt=""></a>
                        </div>
                    </div>
                    <!-- /.client-logo -->
                    <!-- client-logo -->
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                        <div class="client-logo">
                            <a href="#">  <img src="./images/dummy_logo_1.png" alt=""></a>
                        </div>
                    </div>
                    <!-- /.client-logo -->
                </div>
            </div>
        </div>
        <!-- /.client-section -->