<div class="container">
    <div class="card-deck" style="padding-bottom:25px; padding-top:25px;">
        <div class="card">
            <img src="assets/images/hoteles/intercontinental.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <a routerLink="detalles">Intercontinental Hotel</a>
            </div>
        </div>
        
        <div class="card">
            <img src="assets/images/hoteles/nh-hotel.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <a routerLink="detalles">Nh Hotel</a>
            </div>
        </div>
        
        <div class="card">
            <img src="assets/images/hoteles/roosevelt.jpg" alt="" class="card-img-top">
            <div class="card-body">
               <a routerLink="detalles">Roosevelt Plaza Hotel</a>
            </div>
        </div>
    </div>
    
    <div class="card-deck" style="padding-bottom:25px; padding-top:25px;">
        <div class="card">
            <img src="assets/images/hoteles/spiwak-hotel.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <a routerLink="detalles">Spiwak Hotel</a>
            </div>
        </div>
        
        <div class="card">
            <img src="assets/images/hoteles/torre-cali.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <a routerLink="detalles">Torre de Cali Hotel</a>
            </div>
        </div>
        
        <div class="card">
            <img src="assets/images/hoteles/windsor-hotel.jpg" alt="" class="card-img-top">
            <div class="card-body">
               <a routerLink="detalles">Windsor Hotel</a>
            </div>
        </div>
    </div>
</div>